<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table __normal">
                    <thead>
                        <tr>
                            <th class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="blade.selectedAll" ng-change="selectAll(blade.selectedAll)" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col" colspan="2">
                                {{ 'NativePaymentMethods.blades.methods-list.labels.payment-methods' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-model="blade.data">
                        <tr class="table-item" ng-repeat="data in blade.data track by data.code" ng-class="{'__selected': data.id === selectedNodeId}">
                            <td class="table-col __product-control">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.selected" ng-change="updateSelectionList()">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col __product-control" ng-click='selectNode(data)'>
                                <div class="product-img">
                                    <div class="image" style="background-image: url('{{data.logoUrl}}')" ng-if="data.logoUrl"></div>
                                    <i class="table-ico fa fa-image" ng-if="!data.logoUrl"></i>
                                </div>
                            </td>
                            <td class="table-col __product-name" ng-click='selectNode(data)'>
                                <span>
                                    <div class="table-t">
                                        {{ data.name }}
                                    </div>
                                    <div class="table-descr">
                                        {{ data.description }}
                                    </div>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
